<!-- Footer -->
<footer id="contact" class="footer text-white bg-light" style="background: linear-gradient(to left, #3c3c3c, #585454);">
  <div class="pb-3">
      <div class="row pt-3 m-0">
          <div class="col-md-3 text-center">
            <i class="fas fa-store pe-2"></i>
              <p class="pb-3"><strong>Electronics Store</strong></p>
              <p>3456 Somewhere str 67-69-43534534</p>
          </div>

          <div class="col-md-3 text-center">
            <p><strong>Electronics Store</strong></p>
            <p><a href="" class="text-decoration-none text-white">Home</a></p>
            <p><a href="/products" class="text-decoration-none text-white">Gadgets</a></p>
            <p><a href="/faq" class="text-decoration-none text-white">FAQ</a></p>
            <p><a href="/contact" class="text-decoration-none text-white">Contact</a></p>
          </div>

          <div class="col-md-3 text-center">
              <p><strong>Best Products</strong></p>
              <p>I Phone 13</p>
              <p>Hp Laptops</p>
              <p>Rolex Watches</p>
              <p>Graphics Card</p>
          </div>

          <div class="col-md-3 d-flex justify-content-evenly align-items-center">
              <img class="custom-icon" src="../../../assets/twitter.svg" alt="twitter">
              <img class="custom-icon" src="../../../assets/facebook.svg" alt="facebook">
              <img class="custom-icon" src="../../../assets/google-plus.svg" alt="google">
      </div>
  </div>
