
.mt-10{
    padding: 5rem !important;
    background-color: rgba(176, 174, 174, 0.087);
}

.selling{
    padding: 5rem;
    background-color: rgba(176, 175, 175, 0.126);
}

.selling .images{
    border: 10px solid black;
}

.video{
    padding: 5rem !important;
    background-color: rgba(167, 165, 165, 0.139);
}